html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}
.radio-input {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}